{% extends 'base.html' %} 

{% load static %} 

{% block content %}

<!-- Link font style yang digunakan -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

<style>
    body {
        background-color: #d2e7d6; 
        font-family: 'Poppins', sans-serif;
        align-items: center;
    }
</style>

<main class="p-3 sm:p-5 flex flex-col">
    <h1 class="text-2xl sm:text-3xl font-semibold">Favorite Books</h1>
        <ul id="list_fav_book" class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-5 mt-8" >
        {% for favorite_book in favorite_books %}
        <a href="favorite-books/{{ favorite_book.book.pk }}">
            <li class="rounded-md shadow bg-white relative">
                <img src="{{ favorite_book.book.image }}" alt="{{ favorite_book.book.title }}" class="rounded-t-md w-full aspect-[4/6] object-cover bg-slate-300" />
                <div class="p-3 pt-1 border-t-2 border-t-slate-200">
                <h3 class="text-lg sm:text-xl font-semibold max-w-[20ch] overflow-hidden truncate">{{ favorite_book.book.title }}</h3>
                <small>{{ favorite_book.book.author}}</small>
                </div>
            </li>
        </a>
        {% endfor %}
        </ul>
        
    <br>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 flex items-center justify-center" id="exampleModalLabel">Tambahkan quote favorit kamu!</h1>
                    </div>
                    <div class="modal-body flex items-center justify-center">
                        <form id="form" onsubmit="return false;">
                            {% csrf_token %}
                            <div class="mb-3">
                                <textarea class="form-control" id="text" name="text"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer flex items-center justify-center">
                        <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" id="button_add" data-bs-dismiss="modal">Add Quote</button>
                    </div>
                </div>
            </div>
        </div>
    <br>
        <div id = "quote_text" class="flex items-center justify-center"></div>
    <br>
</main>

{% block scripts %}
    <script>
        async function refreshItems() {
            document.getElementById("quote_text").innerHTML = ""
            const quotes = await getQuotes()
            let htmlString = `<h3> ${quotes[quotes.length -1].fields.text}</h3>`
            
            document.getElementById("quote_text").innerHTML = htmlString
        }

        refreshItems()
        
        async function getQuotes() {
            return fetch("{% url 'main:user_registered:get_quote' %}").then((res) => res.json())
        }

        function addQuote() {
            fetch("{% url 'main:user_registered:create_quote' %}", {
                method: "POST",
                body: new FormData(document.querySelector('#form'))
            }).then(refreshItems)

            document.getElementById("form").reset()
            return false
        }

        document.getElementById("button_add").onclick = addQuote

    </script>
{% endblock scripts %}
{% endblock content %}