{% extends 'base.html' %} 

{% load static %} 

{% block content %}

<!-- Link font style yang digunakan -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

<style>
    body {
        background-color: #d2e7d6; 
        font-family: 'Poppins', sans-serif;
        align-items: center;
    }
</style>

<main class="p-3 sm:p-5 flex flex-col">
    <h1 class="text-2xl sm:text-3xl font-semibold">Favorite Books</h1>
        <ul id="list_fav_book" class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-5 mt-8" >
        {% for favorite_book in favorite_books %}
        <a href="favorite-books/{{ favorite_book.book.pk }}">
            <li class="rounded-md shadow bg-white relative">
                <img src="{{ favorite_book.book.image }}" alt="{{ favorite_book.book.title }}" class="rounded-t-md w-full aspect-[4/6] object-cover bg-slate-300" />
                <div class="p-3 pt-1 border-t-2 border-t-slate-200">
                <h3 class="text-lg sm:text-xl font-semibold max-w-[20ch] overflow-hidden truncate">{{ favorite_book.book.title }}</h3>
                <small>{{ favorite_book.book.author}}</small>
                </div>
            </li>
        </a>
        {% endfor %}
        </ul>
</main>