{% extends 'base.html' %}
{% load static %}

<!-- Link font style yang digunakan -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

{% block content %}
<style>
    body {
        background-color: #d2e7d6; 
        font-family: 'Poppins', sans-serif;
        align-items: center;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }

    .card {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 80%;
    }

    .btn-primary {
        background-color: #2ecc71;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px;
    }

    .btn-secondary {
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px;
    }

    .btn-primary:hover {
        background-color: #27ae60;
    }

    .bold-font {
        font-weight: bold;
    }
</style>
<div class="container">
    <div class="card">
        <h1 class="bold-font">Dashboard Profile</h1>
        <div>
            <div class="mt-5">
                <h6><b>Username</b></h6>
                {{ username }}<br>
            </div>
            <div id="ganti1">
                <div class="mt-5">
                    <h6><b>Nama</b></h6>
                    {{ name }}<br>
                </div>
                <div class="mt-5">
                    <h6><b>Kota</b></h6>
                    {{ city }}<br>
                </div>
                <div class="mt-5">
                    <h6><b>Genre Favorit</b></h6>
                    {{ fav_genre }}<br>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Profile</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="form" onsubmit="return false;">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="name" class="col-form-label">Nama:</label>
                                <input type="text" class="form-control" id="name" name="name"></input>
                            </div>
                            <div class="mb-3">
                                <label for="city" class="col-form-label">Kota:</label>
                                <input type="text" class="form-control" id="city" name="city"></input>
                            </div>
                            <div class="mb-3">
                                <label for="fav_genre" class="col-form-label">Genre Favorit:</label>
                                <input type="text" class="form-control" id="fav_genre" name="fav_genre"></input>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Edit Profile</button>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit Profile</button>
    </div>
</div>

<script>
    // Grabs all the Elements by their IDs which we had given them
    let modal = document.getElementById("update-modal");
    let editBtn = document.getElementById("edit-btn");
    let closeBtn = document.getElementById("close-btn");

    async function getProducts() {
        console.log("mask")
        return fetch("{% url 'user_registered:get_profile' %}").then((res) => res.json())
    }
    async function refreshProducts() {
        document.getElementById("ganti1").innerHTML = ""
        const products = await getProducts()
        let htmlString =  `<div>
            <div class="mt-5">
                <h6><b>Name</b></h6>
                ${products[0].fields.name}<br>
            </div>
        </div>
        <div>
            <div class="mt-5">
                <h6><b>Kota</b></h6>
                ${products[0].fields.city}<br>
            </div>
            <div class="mt-5">
                <h6><b>Genre Favorit</b></h6>
                ${products[0].fields.fav_genre}<br>
            </div>
        </div>` 
        document.getElementById("ganti1").innerHTML = htmlString
    }

    refreshProducts()
   
    function addProduct() {
        fetch("{% url 'user_registered:edit_profile' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshProducts)

        document.getElementById("form").reset()
        return false
    }
    document.getElementById("button_add").onclick = addProduct
</script>
{% endblock content %}