@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
    font-family: 'Arial', sans-serif;
}


.container-modal {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
}
  
.modal-background {
    background-color: #3c3b3b42;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 999;
}
  
.request-modal {
    display: flex;
    /* justify-content: center;
    align-items: center;
    text-align: center; */
    background-color: #c8e1cc;
    padding: 40px;
    z-index: 1000;
    border-radius: 6px;
    box-shadow: 0 15px 35px rgba(0,0,0,9);
}
  
.request-modal .modal-request h2 {
    color: #074a13;
    text-align: center;
}
  
.request-modal .modal-request .request-form {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.request-modal .modal-request .request-form .title-form textarea {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    width: 30vw;
}
  
.request-modal .modal-request .request-form .author-form textarea{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    width: 30vw;
}
  
.request-modal .modal-request .request-form .year-form input{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    width: 30vw;
}
  
.request-modal .modal-request .request-form .btn-request {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 15px;
}
  
.request-modal .modal-request .request-form .btn-request input, button {
    border-radius: 6px;
    background-color: #b8d8be;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}
  