@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
* {
    font-family: 'Arial', sans-serif;
}

.container-search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* text-align: center; */
  background-color: #e0f0e3;
  padding-bottom: 30px;
}

.container-search h1 {
  text-align: center;
}

.container-search .search-content {
  background-color: #e0f0e3;
}

.container-search .search-content .search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.container-search .search-content .search-input input {
  width: 50vw;
  height: 5vh;
  border-radius: 8px;
  text-align: center;
}

.container-search .search-content .btn-search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-search .search-content .btn-search button {
  margin: 0px 20px 0px 20px;
  border-radius: 8px;
  color: black;
  background-color: #b8d8be;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
}

.container-search .search-content .filter-genre {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  background-color: #b8d8be;
  border-radius: 20px;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
}

.container-search .search-content .filter-genre .checkbox-genre {
  display: inline-block;
  margin-top: 20px;
  margin-right: 5px;
  margin-bottom: 20px;
  flex-direction: column;
  border: 5px;
  white-space: nowrap;
  flex-wrap: wrap;
  overflow: hidden;
  
}

.container-search .search-content .filter-genre .checkbox-genre label {
  display: flex;
  margin: 5px 0;
  white-space: nowrap;
  overflow: hidden;
}

.container-search .search-content .filter-genre .checkbox-genre input[type="checkbox"] {
  display: flex;
}

.container-search .search-content .search-block {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container-search .search-content .search-block a {
  text-decoration: none;
  color: black;
}

.container-search .search-content .search-block a img {
  margin-top: 8px;
  margin-bottom: 5px;
}


.container-search .search-content .search-block a .result-search {
  display: flex;
  margin-right: 30px;
  margin-bottom: 20px;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  border: 2px solid #b8d8be;
  border-radius: 8px;
}

.container-search .search-content .search-block a .result-search:hover {
  scale: 1.05;
  background-color: #c8e1cc;
}

.container-search .search-content .search-block a .result-search .info-book {
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-search .search-content .search-block a .result-search .info-book div {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.container-search .search-content .search-block a .result-search .info-book .author-book {
  font-size: 14px;
}

.container-search .search-content .search-block a .result-search .info-book .categories-book {
  font-size: 12px;
}


.container-search a {
  text-decoration: none;
  color: black;
}

.container-search a .request-book {
  text-align: center;
  border: 2px solid #b8d8be;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 10px 10px 10px 10px;
  border-radius: 6px;
  background-color: #c8e1cc;
  
}

.container-search a .request-book:hover {
  background-color: #b8d8be;
}