{% extends 'base.html' %}
{% load static %}

{% block meta %}

    <link rel="stylesheet" href="{%static 'loginstyle.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock meta %}

{% block content %}

<body>
    <div class="navbar">
        <a class="app-name" href="#">Sobaca</a>
    </div>

    
    
<div class="login-card">
    <p>Bingung mau baca apa? Tenang ada Sobaca! </p>
    <p>Rekomendasi hari ini adalah</p>
    
    <img src="{{ random_book.images }}" alt="{{ random_book.title }} Cover">
    <p class="random">{{random_book.title}} - {{random_book.author}} </p>
    <button id="refreshRandomBook">Mau yang lain, dong!</button>

    <h1 class="title">Login</h1>
    
    <form method="POST" action="">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" placeholder="Username" class="form-input">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Password" class="form-input">
        </div>
        <div class="form-group">
            <input class="add-product-button" type="submit" value="Login" formaction="{% url 'search_book:search_book' %}">
        </div>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="login-black">
        <p class="bottom-text">Belum jadi sobat membaca?</p>
        <div class="login-blue">
            <a href="{% url 'main:register' %}" class="bottom-link">Register disini!</a>
        </div>
    </div>
    <a class="main-page-button" href="{% url 'search_book:search_book' %}">Klik disini untuk langsung melihat katalog Sobaca!</a>
    
    
</div>

</body>

<script>
    async function refreshRandomBook(){
        const response = await fetch("{% url 'main:get_random_book' %}");
        if(response.ok){
            const data = await response.json();
            document.querySelector('img').src = data.images;
            document.querySelector('.random').textContent = data.title + ' - ' + data.author;

        }else{
            console.error("Gagal mengambil buku")
        }
    }
    document.getElementById('refreshRandomBook').addEventListener('click', refreshRandomBook)
</script>


    
{% endblock content %}