{% extends 'base.html' %}
{% load static %}

{% block meta %}

    <link rel="stylesheet" href="{%static 'loginstyle.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock meta %}

{% block content %}

<body>
    <div class="navbar">
        <a class="app-name" href="#">Sobaca</a>
    </div>

    
    
<div class="login-card">
    <p>Bingung mau baca apa? </p>
    
    <img src="{{ random_book.images }}" alt="{{ random_book.title }} Cover">
    <p>{{random_book.title}} - {{random_book.author}} </p>
    <h1 class="title">Login</h1>
    
    <form method="POST" action="">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" placeholder="Username" class="form-input">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Password" class="form-input">
        </div>
        <div class="form-group">
            <input class="add-product-button" type="submit" value="Login">
        </div>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="login-black">
        Don't have an account yet? 
        <div class="login-blue" >
            <a href="{% url 'main:register' %}" >Register Now</a>
        </div>
        
    </div>
    
</div>

</body>

<script>

 </script>
    
{% endblock content %}