{% extends 'base.html' %}
{% load static %}

{% block meta %}

    <link rel="stylesheet" href="{%static 'registerstyle.css' %}">

{% endblock meta %}

{% block content %}  

<body>
    <div class="navbar">
        <a class="app-name" href="#">Sobaca</a>
    </div>

    <div class = "register-card">
        <h1 class="center-align" >Bergabunglah dengan Sobaca!</h1>  
        
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">Username</label>
                    {{ form.username }}
                    <p class="left-align">{{ form.username.help_text }}</p>
                </div>

                <div class="form-group">
                    <label for="{{ form.password1.id_for_label }}">Password</label>
                    {{ form.password1 }}
                    <p class="left-align">{{ form.password1.help_text }}</p>
                </div>

                <div class="form-group">
                    <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
                    {{ form.password2 }}
                    <p class="left-align">{{ form.password2.help_text }}</p>
                </div>

                <div class="center-align">
                    <input type="submit" name="submit" value="Daftar" class="add-product-button">
                </div>

                <div class="center-align padding-top">
                    Back to Login? <a href="{% url 'main:login' %}">Login</a>
                </div>
                
            </form>
            
        {% if messages %}  
            <ul>   
                {% for message in messages %}  
                    <li>{{ message }}</li>  
                    {% endfor %}  
            </ul>   
        {% endif %}

    </div>  
</body>

{% endblock content %}
